.logo-wraper	{
	position: absolute;
	top: 20px;
	left: 20px;	}

.form-container	{
	width: 80%;
	max-width: 280px;
	max-height: 70vh;
	min-height: 380px;
	margin: 0 auto; }

#forgot-link  {
	color: #1e3c7f;
	font-size: 12px;
	margin: 0 0 40px 0;  }

.input-wrapper input {
  margin-left: 10px;
  padding: 0px 5px 5px 5px; }