<div class="full-container flex-v space-between">
	<div class="form-container">
		<div class="flex-h space-between">
			<div class="flex-v">
				<h3 class="title dark-color">Create a new client</h3>
			</div>
		</div>
		<form action="#" class='dark-color w-60 post-form'>
			<div class="flex-v f-start input-wrapper w-100">
				<input id="username" name="username" type="text" placeholder="username *" [(ngModel)]="userData.username" #name="ngModel">
			</div>
			<div class="flex-v f-start input-wrapper w-100">
				<input id="name" name="name" type="text" placeholder="nick name (optional)" [(ngModel)]="userData.nickName" #name="ngModel">
			</div>
			<div class="flex-v f-start input-wrapper w-100">
				<input id="password" name="password" type="password" placeholder="password *" [(ngModel)]="userData.password" #name="ngModel">
			</div>
			<div class="flex-v f-start input-wrapper w-100">
				<input id="repeat-password" name="repeat-password" type="password" placeholder="repeat password *" [(ngModel)]="userData.passwordRepeat" #name="ngModel">
			</div>
			<div class="flex-h f-start">
				<p class="validation-message transition f-12" [ngClass]="{'active': !isValidated}">{{validationMessage}}</p>
			</div>
			<div class='flex-h f-start'>
				<button class="gradient-button transition" (click)="validate()">send</button>
			</div>
		</form>
	</div>
</div>
