.flex-v.router-element 	{
	background-color: #fff;
	padding: 20px;
	margin: 10px;	
	cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    outline: none;}

.flex-v.router-element p{
	margin-top: 10px;	}

.flex-v.router-element:hover{
	opacity: 0.5 }

.flex-v.router-element img {
    width: 60px;
    height: 60px; }