<div class="full flex-v main-container transition">
	<div class="card dashboard flex-v space-between">
		<div class="h-100 w-100 flex-h space-between">
			<app-panel class='flex-v f-start'></app-panel>
			<div class='dash-content'>
				<router-outlet></router-outlet>
				<div class="logo-wraper flex-h">
					<div>
						<img src="./assets/images/crown-dark.png" alt="Logo image">
					</div>
					<div>
						<p class="dark-color f-20 title">Coacher App</p>
						<p class='dark-color f-10'>some slogan</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<p class='grey-color t-center f-12'>CoacherApp admin © all rights reserved 2017</p>
</footer>

