.panel-item	{
	width: 80px;
	height: 80px;	
	margin: 5px 0;	
	border-bottom: 1px solid rgba(0,0,0,0.1);
	opacity: .2;
	cursor: pointer;}

.panel-item.active {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2); 
	opacity: 1;
	outline: none;}

.panel-item img  {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 5px 0;}

.panel-item:hover{
	border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2); 
	opacity: .8}